@import "tailwindcss";

* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}



button {
  font-family: inherit;
}